
  <a href="./photos/index.erb"><h2>home</h2></a>
  <a href="./<%=@previous%>"><h2><%=@previous%></h2></a>
  <a href="./<%=@next%>"><h2><%=@next%></h2></a>

  <h1><%=@shirt[:title]%>
  <h2><%=@shirt[:size]%></h2>
  <h2><%=@shirt[:colour]%></h2>
  <h2><%=@shirt[:material]%></h2>
